{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<style>
body{
  
  max-width: 1200px;
}
   ul{
     list-style:none;
  }
   .product-container{
     display: flex;
     flex: wrap;
     max-width: 1200px;
   }
   .card{
     margin:15px;
     max-height: 300px;
     max-width: 350px;
     display: flex;
     flex-direction: column;
    
   }
   .no-decoration{
      text-decoration: none;
   }
   
  .img-size{
    max-height:240px;
  }
  .product-card {
    box-sizing: border-box;
    float: left;
    min-height: 1em;
    padding-left: 2em;
    vertical-align: top;
    width: 25%;
    |
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
</style>

{%- assign collection = collections[section.settings.motor_position] -%}
{% comment %} <h2> numero de productos: {{ collection.products_count }}: </h2> {% endcomment %}
 
 {% comment %} <div>select : {{ section.settings.motor_position }}</div> {% endcomment %}
  
<h1>{{ collection.title }}</h1>


<div id="shopify-section-[id]" class="shopify-section">
 {{ section.settings.motor_position }} motor position cars :

</div>

{%- if collection.description != blank -%}
  <p>{{ collection.description }}</p>
{%- endif -%}


{% comment %}  {% endcomment %}

<ul class= "product-container">
  {%- for product in collection.products -%}
    <li>
      <a class="card no-decoration"  href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
        {{ product.title }}
        <p>
          <span aria-hidden="true">—</span>
          {%- if product.price_varies -%}
            <span class="visuallyhidden">Starting at</span>
            {{ product.price_min | money_without_trailing_zeros }}
            <span aria-hidden="true">+</span>
          {%- else -%}
            {{ product.price | money_without_trailing_zeros }}
          {%- endif -%}
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
        </p>
        {% comment %} <p>
          <span class="visuallyhidden">by</span>
          {{ product.vendor }}
        </p> {% endcomment %}
      </a>
    </li>
  {%- endfor -%}
</ul>
{% schema %}
 {
        "name": "Select",
        "tag": "section",
        "class": "slideshow",
      "settings": [
        {
      "type": "select",
      "id": "motor_position",
      "label": "Ubicacion del motor",
      "options": [
        {
          "value": "central",
          "label": "Motor central"
        },
        {
          "value": "front",
          "label": "Motor delantero"
        },
        {
          "value": "producstgrid2",
          "label": "Todos los autos"
        }
        
      ],
      "default": "producstgrid2"
   
      }
      ]
      
    }
      
    {% endschema %}