{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-pcard.css' | asset_url | stylesheet_tag }}
 <style>
 .p-container{
     display: flex;
     flex:wrap;

 }
.product-details{
  margin:10px;
  max-height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
      
     }
.img-size{
max-height: 450px;
width:600px;
}
 </style>

 <div class="p-container" >
        <div class ="img-size" >
           <img src="{{ product.featured_image.src | img_url: '1024x' }}" width="600" height="400" alt=" car image">
        </div>
        <div class = "product-details">
        {{ product.title }}
        {{ product.description }}
        <p>
          <span aria-hidden="true">—</span>
          {%- if product.price_varies -%}
            <span class="visuallyhidden">Empezando en:</span>
            {{ product.price_min | money_without_trailing_zeros }}
            <span aria-hidden="true">+</span>
          {%- else -%}
           <p >Precio:</p>  
           {{ product.price | money_without_trailing_zeros }}
          {%- endif -%}
            
        </p>
        <p>Color :
        {% for option in variant.options %}
        - {{ option }}
       {% endfor %}</p>
        <form class= "form-card" method="post" action="/cart/add">
       <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
       <input class= "product-form__submit button button--full-width" name="add" value="Add to cart" type="submit" />
       </form>
        </div>
        
         </div>
         <script>
           
         let a = [];
           
         console.log({{settings.colorvariant}} | json);
         </script>
        
         {{settings.colorvariant}}
         {% comment %} {% schema %}
 {
        "name": "Color area",
        "tag": "section",
        "class": "slideshow",
      "settings": [
        {
      "type": "textarea",
      "id": "color-v",
      "label": "color de las variantes"
      }
      ]
      
    }
      
    {% endschema %} {% endcomment %}